/* CUSTOM CSS MATERIALIZE RP */
.text-subhead {
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.84rem;
}

.btn-small.btn-square {
    height: 30px;
    line-height: 30px;
    padding: 0;
    width: 30px;
    text-align: center;
}

.actions {
    text-align: right;
    min-width: none;
}

span.badge.new.sup {
    margin-left: 0;
    position: absolute;
    top: 7px;
    min-width: auto;
    right: 7px;
    background: #000000;
}

.actions a {
    margin-right: 5px;
}

/* END CUSTOM MATERIALIZE RP */

/* GENERAL CSS */
body {
    font-size: 13px;
}

.label {margin-right:5px;margin-bottom:5px !important;display:inline-block;} #wrapper {
    position: relative;
}

.sidenav {
    padding-top: 70px;
    width: 250px;
}

.main-header {
	position: relative;
	z-index: 1000;
}

.content-wrapper {
	margin-left: 250px;
	z-index: 800;
	background-color: #ecf0f5;
	-webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
    transition: transform .3s ease-in-out,margin .3s ease-in-out;
}

.content-wrapper .content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* CARD HOME */
.card-home {
	padding-top: 15px;
	padding-bottom: 15px;
}

.card-home .card {
	height: 100%;
	margin: 0;
    padding: 10px 0;
}

.card-home .card-title {
    padding-left: 15px;
    padding-right: 15px;
}

.card-home .card-title h5, .card-home .card-title h6 {
    margin: 0;
}

.card-home .card .card-content {
    padding: 0;
    overflow: scroll;
}

.card-home .card .card-footer {
    padding: 10px 15px 0 15px;
}

.card-home .card .card-footer a {
    margin-right: 10px;
}

.card-home .card .card-footer a:last-child {
    margin-right: 0;
}

/* CARD LIST */

.card-list .card-title {
    padding-left: 15px;
    padding-right: 15px;
}

.card-list .collection {
    margin: 0;
}

.card-list .collection-item {
    border-left: none;
    border-right: none;
}

.card-list .collection-item .secondary-content .progress {
    margin-right: 15px;
}


/* TOPBAR */
nav .sidenav-trigger {
    margin: 0;
}

/* SIDEBAR */
.sidenav li>a>i, .sidenav li>a>[class^="mdi-"], .sidenav li>a li>a>[class*="mdi-"], .sidenav li>a>i.material-icons {
    width: auto;
    margin-right: 15px;
}
.sidenav li>a {
    font-size: 12px;
}

/* TABLE */
tbody {
    font-size: 12px;
}

th, td {
    min-width: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th:first-child, td:first-child {
    padding-left: 15px;
}

th:last-child, td:last-child {
    padding-right: 15px;
}

th {
    font-size: 12px;
}

/* PROGRESS */
.progress {
    margin: 0;
    height: 8px;
}

@media screen and (max-width: 992px) {
    .content-wrapper {
        margin-left: auto;
    }
}

@media screen and (max-width: 420px) {
    .card-home {
        padding: 15px 0;
    }
}