/* Custom Stylesheet */

/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a, nav .brand-logo {
    color: #444;
}
h1 {
    font-size: 3.5em;
}
p {
    line-height: 2rem;
}
.sidenav-trigger {
    color: #26a69a;
}
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}
.parallax-container .section {
    width: 100%;
}
.brand-logo img {
    margin-top: 0.25em;
    margin-left: 0.25em;
    height: 50px;
}

/* label focus color */

.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: black!important;
}
/* label underline focus color */

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 1px solid black!important;
    box-shadow: 0 1px 0 0 black!important;
}
/* valid color */

.input-field input[type=text].valid,
.input-field input[type=email].valid,
.input-field input[type=password].valid {
    border-bottom: 1px solid black!important;
    box-shadow: 0 1px 0 0 black!important;
}
/* invalid color */

.input-field input[type=text].invalid,
.input-field input[type=email].invalid,
.input-field input[type=password].invalid {
    border-bottom: 1px solid black!important;
    box-shadow: 0 1px 0 0 black!important;
}
/* icon prefix focus color */

.input-field .prefix.active {
    color: black!important;
}
.modal {
    width: 25%;
}
.modal-content .row {
    margin-bottom: 0px;
    line-height: 50px;
}
.modal-content h5 {
    margin-bottom: 40px;
}
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        /*position: absolute;*/
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}
@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
    .modal {
        width: 80%;
    }
    .brand-logo img {
        margin-left: 0.5em;
        height: 45px;
    }
    .parallax-container {
        min-height: 500px;
    }
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
footer.page-footer {
    margin: 0;
}
.mgr10 i {
    margin-right: 10px;
}
.mgb10 i {
    margin-bottom: 10px;
}
.mgl10 i {
    margin-left: 10px;
}
.mgt10 i {
    margin-top: 10px;
}
.jajaja {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    height: 100%;
    padding: 30px;
}
.jajaja h5 {
    margin-bottom: 40px;
}
.itens {
    margin-bottom: 10px!important;
}
.itens a {
    display: block;
    width: 100%;
    height: 20px;
    float: left;
}
.mamama {
    font-size: 16px;
}
.pagination {
    background-color: grey;
    padding: 10px;
}
.pagination li.active {
    background-color: black;
    color: white;
}
.pagination span.page-link {
    margin-top: 4px;
    display: block;
}
li.page-item {
    min-width: 30px;
    min-height: 30px;
    text-align: center;
}
.card .content {
    padding: 25px;
    min-height: 275px;
}
.alert-card {
    width: 100%;
    padding: 10px;
}